@font-face {
    font-family: "Roboto";
    src: url("font/roboto/Roboto-Bold.ttf");
}

/***************************************************************************
 *                                                                         *
 * Colors			                                                       *
 *                                                                         *
 **************************************************************************/

.root {
        -lightBlue: #6c93e4;
        -blue: #3566b2;
        -darkBlue: #003c82;
        -lightGrey: #f4f4f4;
}

.blueButton {
    -fx-background-color: -blue;
    -fx-text-fill: WHITE;
}

.blueButton:pressed {
    -fx-background-color: #3c6dbb;
}

.greyPane {
    -fx-background-color: -lightGrey;
}

.tab:selected {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/***************************************************************************
 *                                                                         *
 * Edit Logs Table View                                                    *
 *                                                                         *
 **************************************************************************/

.table-view:focused {
    -fx-focus-color: #c8c8c8;
    -fx-faint-focus-color: transparent;
}

.table-view .column-header {
    -fx-background-color: -blue;
}

.table-view .column-header .label {
    -fx-text-fill: WHITE;
}

.table-view .column-header .arrow {
    -fx-background-color: WHITE;
}

.table-row-cell:selected {
    -fx-background-color: -lightBlue;
}

.blueLabel {
    -fx-text-fill: -blue;
    -fx-font-weight: BOLD;
}

.darkBlueButton {
    -fx-background-color: -darkBlue;
    -fx-text-fill: WHITE;
    -fx-padding: 12 17 12 17;
    -fx-font-family: 'Roboto';
}

.appTextField:focused {
    -fx-focus-color: -blue;
}

.combo-box {
    -fx-background-color: WHITE;
    -fx-border-color: #b6b6b6;
    -fx-border-radius: 3px;
}
.combo-box:focused {
    -fx-border-color: -blue;
    -fx-effect: dropshadow(three-pass-box, -blue, 3, 0, 0, 0);
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: WHITE;
    -fx-text-fill: #323232;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: -blue;
    -fx-text-fill: WHITE;
}

.databaseItemButton{
    -fx-background-color: -blue;
    -fx-min-width: 21;
    -fx-min-height: 20;
    -fx-pref-width: 21;
    -fx-pref-height: 20;
    -fx-max-width: 21;
    -fx-max-height: 20;
}

.addDatabaseItemButton {
    -fx-shape: "m 239.375,498.80579 c -10.1314,-2.20236 -19.66946,-6.68468 -29.08851,-13.66983 -11.0184,-8.17122 -17.57279,-16.78812 -22.56214,-29.6619 l -3.33265,-8.59906 -0.38466,-62.75078 -0.38468,-62.75077 -65.24868,-0.40614 c -63.935039,-0.39797 -65.397669,-0.46225 -72.648799,-3.19255 -15.70569,-5.91376 -26.47676,-14.53742 -34.27235,-27.43956 -16.2413502,-26.88036 -15.0355402,-55.17402 3.4115,-80.04871 8.16997,-11.01669 16.78493,-17.57033 29.66191,-22.5646 l 8.59906,-3.3351 65.250769,-0.38013 65.25077,-0.38012 0.38012,-65.25077 0.38013,-65.250772 3.3351,-8.59906 c 4.99427,-12.876974 11.54791,-21.491942 22.5646,-29.661904 24.87469,-18.447042 53.16835,-19.652857 80.04871,-3.411505 12.90214,7.795587 21.5258,18.56666 27.43956,34.272354 2.7303,7.251135 2.79458,8.713755 3.19255,72.648797 l 0.40614,65.24868 62.75078,0.38468 62.75077,0.38466 8.59906,3.33265 c 12.87378,4.98935 21.49068,11.54374 29.6619,22.56214 18.44705,24.87469 19.65287,53.16835 3.41152,80.04871 -7.79668,12.90391 -18.57279,21.53085 -34.27237,27.43711 -7.23186,2.72066 -8.82675,2.7933 -70.1488,3.19464 l -62.74868,0.41068 -0.41068,62.74868 c -0.40134,61.32205 -0.47397,62.91694 -3.19464,70.1488 -7.79257,20.71364 -22.11488,34.57608 -43.41735,42.02323 -8.38607,2.9317 -26.91743,4.26007 -34.97996,2.50745 z";
}

.editDatabaseItemButton {
    -fx-shape: "m 36.123741,1118.3723 c -9.21713,-3.1707 -15.10373,-6.9516 -21.54931,-13.841 -6.6152353,-7.0708 -8.6231573,-10.4348 -11.7259143,-19.6452 -2.52343102,-7.4907 -2.55783302,-9.7122 -2.55783302,-165.17171 0,-155.45945 0.0344,-157.68099 2.55783302,-165.17168 1.406808,-4.17604 3.467175,-9.08017 4.578593,-10.89807 C 10.414527,738.75828 737.62724,11.260497 743.00479,7.7786224 c 16.169,-10.469161 39.52821,-10.480528 55.82178,-0.02716 2.52401,1.619317 19.55169,17.7702996 37.83929,35.8910716 18.28758,18.120774 70.88133,70.071406 116.87497,115.445856 151.53947,149.49918 156.31907,154.32403 159.68077,161.1943 10.8119,22.09611 10.8974,41.53103 0.255,57.9676 -3.4819,5.37755 -730.97981,732.59031 -735.86617,735.57771 -1.8179,1.1114 -6.72202,3.1718 -10.89807,4.5786 -7.49369,2.5244 -9.65348,2.5572 -165.44474,2.5159 -154.715079,-0.041 -157.996839,-0.092 -165.143879,-2.5502 z M 650.52235,696.35771 948.88103,398.00104 l -7.0179,-7.58083 c -3.8597,-4.16944 -21.7834,-22.08816 -39.83029,-39.81936 l -32.81251,-32.23855 -36.65232,36.76292 c -20.15878,20.21959 -85.26976,85.91445 -144.69104,145.98855 -59.42129,60.07408 -116.51925,117.66312 -126.88438,127.97562 -10.36511,10.3125 -65.81019,66.26444 -123.21128,124.33764 -57.40109,58.0732 -117.66245,118.9817 -133.91413,135.35222 l -29.54849,29.7646 38.2843,38.08527 c 21.05638,20.94684 38.5715,38.08524 38.92253,38.08524 0.35101,0 134.89958,-134.26047 298.99683,-298.35665 z m -387.47143,86.16918 c 33.79868,-34.20313 69.93247,-70.625 80.29732,-80.9375 10.36484,-10.3125 65.80768,-66.26098 123.2063,-124.32995 117.06434,-118.4315 184.98067,-187.00501 270.55211,-273.17005 l 58.34527,-58.75 -36.64312,-35.92993 -36.64312,-35.92991 -298.24784,298.23928 -298.24782,298.23927 36.99782,37.31103 c 20.34882,20.52106 37.43278,37.34122 37.96438,37.37814 0.5316,0.0369 28.62001,-27.91725 62.4187,-62.12038 z"
}

.deleteDatabaseItemButton {
    -fx-shape: "m 160.07408,1314.4428 c -11.44393,-2.4828 -19.52883,-5.301 -29.51622,-10.2888 -31.371953,-15.6672 -53.228253,-41.6577 -64.054093,-76.1701 l -3.44591,-10.9854 -0.32285,-442.81259 -0.32285,-442.8125 475.020713,0 475.02073,0 -0.3228,442.1875 -0.3229,442.18759 -3.4459,10.9854 c -13.09341,41.7412 -43.64981,72.2106 -84.31871,84.0786 -7.7289,2.2554 -16.17314,3.5469 -28.48543,4.3566 -10.04041,0.6603 -168.82299,1.1199 -372.5,1.0783 -297.65927,-0.061 -356.28956,-0.3524 -362.98377,-1.8047 z M 317.36675,1129.437 c 13.80764,-3.2544 23.38557,-8.7758 34.49471,-19.8849 7.04131,-7.0413 11.24187,-12.5078 14.01952,-18.2447 8.30989,-17.163 7.76493,4.0629 7.76493,-302.43399 0,-306.49681 0.54496,-285.27091 -7.76493,-302.43389 -5.43432,-11.2239 -21.04033,-26.82991 -32.26423,-32.26424 -21.30008,-10.31297 -44.8177,-10.31297 -66.11778,0 -11.2239,5.43433 -26.82991,21.04034 -32.26423,32.26424 -8.30989,17.16298 -7.76493,-4.06292 -7.76493,302.43389 0,306.49689 -0.54496,285.27099 7.76493,302.43399 5.44911,11.2544 21.03807,26.8286 32.32452,32.2939 15.61173,7.5598 33.56748,9.6636 49.80749,5.8358 z m 237.5,0 c 13.80764,-3.2544 23.38557,-8.7758 34.49471,-19.8849 7.04131,-7.0413 11.24187,-12.5078 14.01952,-18.2447 8.30989,-17.163 7.76493,4.0629 7.76493,-302.43399 0,-306.49681 0.54496,-285.27091 -7.76493,-302.43389 -5.43432,-11.2239 -21.04033,-26.82991 -32.26423,-32.26424 -21.30008,-10.31297 -44.8177,-10.31297 -66.11778,0 -11.2239,5.43433 -26.82991,21.04034 -32.26424,32.26424 -8.30988,17.16298 -7.76492,-4.06292 -7.76492,302.43389 0,306.49689 -0.54496,285.27099 7.76492,302.43399 5.44912,11.2544 21.03808,26.8286 32.32453,32.2939 15.61172,7.5598 33.56747,9.6636 49.80749,5.8358 z m 237.5,0 c 13.80764,-3.2544 23.38557,-8.7758 34.49471,-19.8849 7.04131,-7.0413 11.24188,-12.5078 14.01952,-18.2447 8.30989,-17.163 7.76493,4.0629 7.76493,-302.43399 0,-306.49681 0.54496,-285.27091 -7.76493,-302.43389 -5.43432,-11.2239 -21.04033,-26.82991 -32.26423,-32.26424 -21.30008,-10.31297 -44.8177,-10.31297 -66.11778,0 -11.2239,5.43433 -26.82991,21.04034 -32.26423,32.26424 -8.30989,17.16298 -7.76493,-4.06292 -7.76493,302.43389 0,306.49689 -0.54496,285.27099 7.76493,302.43399 5.44911,11.2544 21.03807,26.8286 32.32452,32.2939 15.61173,7.5598 33.56748,9.6636 49.80749,5.8358 z M 55.684257,263.13098 c -4.05548,-0.98128 -11.08673,-3.58217 -15.625,-5.77976 -11.28645,-5.46529 -26.87541,-21.03949 -32.324531,-32.29392 -10.312968,-21.30008 -10.312968,-44.8177 0,-66.11778 5.434331,-11.2239 21.040341,-26.82991 32.264241,-32.26424 16.49045,-7.98427 12.45374,-7.76306 142.032773,-7.78339 l 117.72387,-0.0185 1.48639,-7.1875 c 9.77072,-47.246787 68.39347,-87.002882 152.46212,-103.3949387 30.57709,-5.962051 46.67108,-7.38074601 83.72874,-7.38074601 37.05766,0 53.15165,1.41869501 83.72874,7.38074601 C 705.23025,24.683008 763.853,64.439103 773.62372,111.68591 l 1.48639,7.1875 117.72387,0.0185 c 129.57902,0.0203 125.54232,-0.20087 142.03282,7.7834 11.2239,5.43433 26.8299,21.04034 32.2642,32.26424 10.313,21.30008 10.313,44.8177 0,66.11778 -5.4343,11.2239 -21.0403,26.82991 -32.2642,32.26423 -17.3871,8.41843 24.4257,7.77374 -498.05894,7.67927 -405.90281,-0.0734 -474.806003,-0.34119 -481.123603,-1.86982 z"
}

#successLabel {
    -fx-text-fill: -blue;
}